* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    color: #E5E7EB;
    background-color: #1f2937;
    padding: 1em 13em;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;  
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.links {
    font-size: 18px;
    color:#E5E7EB;
    display: flex;
    gap: 20px;
}

.image-container {
    
}

.photo-grid-info,
.photo-grid {
    display: flex;
    justify-content: center;
}

.quote-container {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style:italic;
    font-weight:400;
    color:#1F2937
}

.call-to-action {
    background-color: #3882f6;
}

.footer-container {
    color: #E5E7EB;
    background-color: #1f2937;
    font-size: 18px;
}